aiohttp
google-api-python-client
uvloop
python-Levenshtein
dnspython
aiosqlite
Flask[async]
flask-cors
pymongo
requests
urllib3
psutil
PyJWT
colorama
asyncio
certifi
protobuf
protobuf-decoder
pycryptodome
httpx
google
pytz
cfonts
cachetools
fuzzywuzzy
